@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9375rem;
    font-family: 'Manrope', sans-serif;
    /* font-weight: 800; */
}

body p {
    color: hsl(225, 20%, 60%);
    font-size: 0.75rem;
}

body h1 {
    color: hsl(227, 35%, 25%);
}

footer {
    display: none;
}

.halfBackground {
    border-bottom-left-radius: 10.625rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-color: hsl(230, 100%, 98%);
}

.main-container {
    max-width: 35rem;
    width: 100%;
    z-index: 1;
    margin: 1.25rem;
}

.title-div {
    position: relative;
    text-align: center;
    margin: 2.5rem auto 6.25rem auto;
}

.title-div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-54%, -50%);
}

.title-div p {
    margin-top: 0.625rem;
    color: hsl(225, 20%, 60%);
    font-size: 0.9375rem;
}

.card-div {
    -webkit-box-shadow: 0.5rem 0.8125rem 1.1875rem 0rem rgba(238, 238, 238, 1);
    -moz-box-shadow: 0.5rem 0.8125rem 1.1875rem 0rem rgba(238, 238, 238, 1);
    box-shadow: 0.5rem 0.8125rem 1.1875rem 0rem rgba(238, 238, 238, 1);
    border-radius: 0.9375rem;
    background-color: hsl(0, 0%, 100%);
    margin: 1.25rem;
}
.top-card {
    padding: 2.5rem 2.5rem 1.875rem 2.5rem;
}

.page-views-and-monthly-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-and-price p {
    font-size: 1rem;
}

.slidecontainer {
    width: 100%;
    margin: 1.6875rem auto 2.1875rem auto;
}

.slider {
    -webkit-appearance: none;
    margin-right: 0.9375rem;
    width: 100%;
    height: 0.4375rem;
    background: #eee;
    border-radius: 0.3125rem;
    background-image: linear-gradient(hsl(174, 77%, 80%), hsl(174, 77%, 80%));
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

  /* Input Track */
  .slider::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}


.slider::-ms-track {
    width: 100%;
    height: 0.5rem;
  
    border-radius: 0.5625rem;
  
    cursor: pointer;
}

.slider::-moz-range-track {
    width: 100%;
    height: 0.5rem;
  
    border-radius: 0.5625rem;
  
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 1.375rem;
    width: 1.375rem;
    background-image: url('./images/icon-slider.svg');
    background-size: 63%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    -webkit-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    -moz-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    padding: 1.3125rem;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.125rem;
    width: 0.125rem;
    background-image: url('./images/icon-slider.svg');
    background-size: 63%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    -webkit-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    -moz-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    padding: 1.3125rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.slider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 0.3125rem;
    width: 0.3125rem;
    background-image: url('./images/icon-slider.svg');
    background-size: 63%;
    background-position-y: 50%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    background-color: hsl(174, 86%, 45%);
    -webkit-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    -moz-box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    box-shadow: -0.0625rem 0.5625rem 3.4375rem 0.0625rem rgba(11, 218, 218, 1);
    padding: 1.3125rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.slider::-moz-range-thumb:hover {
    background-color: hsl(174, 86%, 30%);
}

.slider::-moz-range-thumb:active {
    opacity: 0.7;
}
  
.slider::-ms-thumb:hover {
    background-color: hsl(174, 86%, 30%);
}

.slider::-ms-thumb:active {
    opacity: 0.7;
  }

.slider::-webkit-slider-thumb:active {
    background-color: hsl(174, 86%, 30%);
}

.slider::-webkit-slider-thumb:hover {
    opacity: 0.7;
}
  
.billings-and-discount-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 2.1875rem 0.9375rem 0.625rem 0;
}

.billings {
    padding-left: 0.625rem;
}

.discount {
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    border-radius: 1.25rem;
    font-size: 0.625rem;
    padding: 0.3125rem;
    margin-left: 0.625rem;
    height: 100%;
    font-weight: 800;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.375rem;
    margin-left: 0.625rem;
}
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider-checkbox:before {
    position: absolute;
    content: "";
    height: 0.9375rem;
    width: 0.9375rem;
    left: 0.25rem;
    bottom: 0.25rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switch :checked + .slider-checkbox {
    background-color: hsl(174, 77%, 80%);
}
  
.switch :focus + .slider-checkbox {
    box-shadow: 0 0 0.0625rem hsl(174, 77%, 80%);
}
  
.switch :checked + .slider-checkbox:before {
    -webkit-transform: translateX(1.125rem);
    -ms-transform: translateX(1.125rem);
    transform: translateX(1.125rem);
}
  
  /* Rounded sliders */
.slider-checkbox.round {
    border-radius: 2.125rem;
}
  
.slider-checkbox.round:before {
    border-radius: 50%;
}

.slider-checkbox:hover {
    background-color: hsl(174, 77%, 80%);
}

.trial-div {
    padding: 1.875rem 2.5rem 1.875rem 2.5rem;
    border-top: 0.0625rem solid #eee;
    border-width: thin;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one-check {
    display: flex;
    margin-bottom: 0.625rem;
}

.one-check img {
    width: 100%;
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 0.9375rem;
    margin-top: 0.25rem;
}

.trial {
    background-color: hsl(227, 35%, 25%);
    border: none;
    border-radius: 1.875rem;
    margin: 1.25rem 0 1.25rem 0;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    color: hsl(226, 100%, 87%);
    cursor: pointer;
    font-weight: 600;
}

.hidden-desktop {
    display: none;
}

.hidden-mobile {
    display: flex;
    align-items: center;
}

.hidden-mobile p {
    margin-left: 0.3125rem;
}

.hidden-desktop p {
    margin-left: 0.3125rem;
}

.hidden-desktop-discount {
    display: none;
}

@media screen and (max-width: 500px) {
    
    .title-div {
        margin-top: 2.5rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
    
    .title-div h1 {
        font-size: 1.6875rem;
    }

    .page-views-and-monthly-price {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    

    .hidden-desktop {
        display: flex;;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .hidden-mobile {
        display: none;
    }

    .hidden-mobile-discount {
        display: none;
    }

    .hidden-desktop-discount {
        display: block;
    }

    .trial-div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .trial {
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .billings-and-discount-div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2.1875rem 0.3125rem 0.625rem 0;
        text-align: center;
    }
    
}


@media screen and (max-width: 350px) {
    .main-container {
        padding: 0.625rem;
    }

    .top-card {
        padding: 0.625rem;
        padding-top: 1.25rem;
    }

    .trial-div {
        padding: 0.625rem;
    }

    .switch :checked + .slider-checkbox:before {
        -webkit-transform: translateX(0.4375rem);
        -ms-transform: translateX(0.4375rem);
        transform: translateX(0.4375rem);
    }
}